:root{
    --break1: 35rem;
}

html, body {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 35rem){
    main {
        display: flex;
    }    
}

main, header, article, aside, footer, .hero {
    margin: 0;
    padding: 0;
    border: 1px solid #000000;
    color: #ffffff;
}


body {
    background: #000000;
}
header {
    background: #03a9f4;
}
.hero {
    background: #d22b1f;
    padding: 0.5rem;
}

nav{
    flex: 1 1 20%;
    padding: 0.5rem;
}

nav ul{
    list-style: none;
    padding: 0;
}

article {
    background: #129a22;
    flex: 1 1 100%;
}

.content{
    max-width: var(--break1);
}

.text{


}

img{
    width: 100%;
}

aside {
    border: 1px solid #000000;
    background: #673ab7;
    flex: 0 1 30%;
}
footer {
    border: 1px solid #000000;
    background: #616161;
}

