{% set navPages = collections.all | eleventyNavigation %}
<nav id="hamburger" title="Menu...">
    <div id="menuToggle">
        <input id="hamburgerButton" type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>
        {# This makes a multilevel menu #}
        {# {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({listClass: "nav-list-class"}) | safe }} #}

        {# This makes a single level menu, but provides control over layout #}
        <ul id="menu">
            {%- for entry in navPages %}
                <li{% if entry.url == page.url %} class="active-page-class"{% endif %}>
                    <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                </li>
            {%- endfor %}
        </ul>
    </div>
</nav>
<nav id='raisin'>
    <ul>
        {%- for entry in navPages %}
            <li{% if entry.url == page.url %} class="active-page-class"{% endif %}>
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
            </li>
        {%- endfor %}
    </ul>
</nav>