:root {
  /* layout */
  --break1: 30rem;
  --horizontal-padding: 1.5rem;
  --rhythm: 1.4em;

  /* colors */
  --text-color: #505050;
  --highlight-color: #f04000;
  --link-color: #a82d00;
  --nav-text-color: #0a0a0a;
  --nav-back-color: #f0f0f0;
  --nav-hamburger-color: #f04000;
  --dark-color: #707070;
  --shadow-color: #ffffff;
  --ground-color: #00000000; /* transparent */
  --heading-color: #ffffff;
  --article-background: #f3f0e9;
  --aside-background: #ceae5e;
  --footer-background: #be9a3f;

  /* fonts */
  --heading-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --text-font: Georgia, Cambria, "Times New Roman", Times, serif;
  --tanga-times-font: "Droid Serif", "Times New Roman", Times, serif;
}

html {
  font-size: calc(50% + 1vw);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: var(--rhythm);
}

@media screen and (min-width: 35rem) {
  main {
    display: flex;
    align-items: stretch;
  }

  nav#raisin {
    display: block;
  }

  /*  always display hamburger
  nav#hamburger {
    display: none;
  } */
}

main,
header,
article,
aside,
footer,
.hero {
  margin: 0;
  padding: 0;
}
aside,
footer {
  padding: calc(var(--rhythm) / 2) 0 calc(var(--rhythm) / 2) 0;
}

header {
  border: 0;
}

header h1 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 0rem;
  padding-top: 25px;
  padding-bottom: 30px;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

.hero {
  position: relative;
  text-align: center;
}

.hero img,
header img {
  width: 100%;
  display: block;
}

img.logo {
  width: 70px;
  float: left;
  padding: 10px 0 0.5rem 1rem;
}

.hero h1 {
  color: var(--highlight-color);
  font-size: 7vw;
  text-shadow: 0px 0px 8px var(--shadow-color);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav ul {
  list-style: none;
  padding: 0;
}

article {
  background: var(--article-background);
  flex: 1 1 100%;
}

.wrapper {
  text-align: center;
}
.content {
  max-width: var(--break1);
  padding-top: 0.7em;
  text-align: left;
  display: inline-block;
}

.content,
footer {
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);
}

aside {
  padding-left: calc(var(--horizontal-padding) / 2);
  padding-right: calc(var(--horizontal-padding) / 2);
  background: var(--aside-background);
  font-family: var(--heading-font);
  flex: 0 1 30%;
}

img {
  width: 100%;
}

.post-splash {
  width: 100%;
  height: auto;
}

img.netlify-status {
  width: 200px;
}

.tag {
  border: 1px solid #666666;
  background-color: #afafaf;
  box-shadow: 3px 3px 3px #66666666;
  border-radius: 3px;
  padding: 1px 3px 1px 3px;
  margin: 0 1em 0 0;
  color: #000000;
}

/* Headings *****************************/
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: normal;
  line-height: var(--rhythm); /* relative to font size */
  margin: 0.5em 0 0.5em 0; /* relative to base font-size */
}

p {
  margin: 0 0 var(--rhythm) 0; /* relative to base font-size */
}

footer {
  font-family: var(--heading-font);
  font-size: smaller;
  background: var(--footer-background);
}
/* Hamburger menu ******************************
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
  */

#menuToggle {
  display: inline;
  position: absolute;
  top: 1rem;
  right: 1rem;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: var(--nav-text-color);

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: var(--nav-hamburger-color);
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -10px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  box-shadow: 0.2rem 0.2rem 0.3rem var(--dark-color);
  background: var(--nav-hamburger-color);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(1px, 0px);
  background: var(--nav-text-color);
  box-shadow: none;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  box-shadow: none;
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0px, 2px);
  box-shadow: none;
}

/*
  * Make this *fixed* position at the top right of the screen.
  * Absolute position will not hide the menu when it is slid off the page.
  */
#menu {
  position: fixed;
  width: 15rem;
  margin: -4rem 0 0 0;
  padding: 2rem;
  padding-top: 5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--nav-text-color);
  border-radius: 3px;
  right: -4rem;

  font-family: var(--heading-font);
  background: var(--nav-back-color);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 0rem 0;
  font-size: 1rem;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
  transform: none;
}

.active-page-class {
  font-weight: 700;
}

/* raisin menu ****************/

#raisin {
  display: none;
  clear: both;
  padding-left: var(--horizontal-padding);
  padding-bottom: var(--rhythm);
}

#raisin ul {
  margin: 0 0 0 0;
  font-family: var(--heading-font);
  font-size: 41m;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

#raisin li {
  display: inline;
  padding: 0.2em;
}

#raisin a {
  text-decoration: none;
  color: var(--nav-text-color);
}
#raisin a:hover {
  color: var(--nav-hamburger-color);
}

/* Rhythm grid ******************/
/* body {
  position: relative;
}
body:active:after {
  display: none;
}
body:after {
  background: linear-gradient(
    to bottom,
    rgba(200, 225, 255, 0.6) 1px,
    transparent 1px
  );
  background-size: 10px var(--rhythm);
  bottom: 0;
  margin-top: 0px;
  content: "";
  display: block;
  height: auto;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 9999;
} */

ul {
  margin-bottom: var(--rhythm);
}

li {
  margin-bottom: calc(var(--rhythm) / 2);
}

footer p {
  margin-bottom: 0;
}

/* mixins */
.tyc-rhythm-bottom {
  margin-bottom: var(--rhythm);
}

/* Tanga Times ************************************/

.times {
  font-family: var(--tanga-times-font);
  color: #2f2f2f;
  background-color: #f9f7f1;
}
.times h1 {
  font-family: var(--tanga-times-font);
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 0;
}

.times h6 {
  font-family: var(--tanga-times-font);
  font-size: 0.5em;
  margin: 0 10% var(--rhythm) 10%;
  text-transform: uppercase;
  border-bottom: 1px solid #2f2f2f;
  border-top: 1px solid #2f2f2f;
  padding: 12px 0 12px 0;
  text-align: center;
}

/* Aside ***************************/

aside p {
  margin-bottom: 0;
  font-size: 0.8em;
}

aside ul {
  padding-left: 20px;
}

aside ul li {
  margin-bottom: calc(var(--rhythm) / 4);
}

/* map ****************************/

.tyc-wrapper-google-map {
  line-height: 0;
  width: 100%;
}

.tyc-google-map {
  border: 0;
  width: 100%;
  height: 79vh;
}

/* Contact Form **************************/
form {
  padding: 2em 0;
  text-align: center;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 90%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  font-family: var(--heading-font);
}

input,
textarea {
  border: 1px solid black;
}

button {
  max-width: 10em;
  border: 1px solid var(--dark-color);
  background-color: var(--nav-hamburger-color);
  color: var(--nav-back-color);
  cursor: pointer;
}
