<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TYC</title>
    <link href="/css/tyc.css" rel="stylesheet">
    <link rel='icon' href='/favicon.ico' type='image/x-icon'/ >
    {% if eleventy_env.environment != "local" %}
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
  </head>

  <body>

    {{ content | safe }}

    <footer>
    {% markdown "/partials/footer.md" %}
    </footer>

    {% if eleventy_env.environment != "local" %}
      {# The following script supports Netlify CMS #}
      <script>
        if (window.netlifyIdentity) {
          window
            .netlifyIdentity
            .on("init", user => {
              if (!user) {
                window
                  .netlifyIdentity
                  .on("login", () => {
                    document.location.href = "/admin/";
                  });
              }
            });
        }
      </script>
    {% endif %}
    <script src="/js/tyc.js"></script>

  </body>

</html>