<html>
  <head>
    <meta name="viewport" content="width=device-width"/>
    <title>Eleventy + Netlify CMS from scratch</title>
    <link href="/css/tyc.css" rel="stylesheet">
    {% if eleventy_env.environment != "local" %}
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
  </head>

  <body>
  
    {{ content | safe }}

    <footer>
        Footer
    </footer>

    {% if eleventy_env.environment != "local" %}
      {# The following script supports Netlify CMS #}
      <script>
        if (window.netlifyIdentity) {
          window
            .netlifyIdentity
            .on("init", user => {
              if (!user) {
                window
                  .netlifyIdentity
                  .on("login", () => {
                    document.location.href = "/admin/";
                  });
              }
            });
        }
      </script>
    {% endif %}
  </body>

</html>