---
layout: layouts/base.njk
---

<header>
  <div class="hero">
    <h1>Tanga Yacht Club
    </h1>
    <img src="https://tanga-yacht-club.or.tz/images/uploads/_DAG6862.jpg?nf_resize=fit&w=800" 
         srcset="
          https://tanga-yacht-club.or.tz/images/uploads/_DAG6862.jpg?nf_resize=fit&w=400 400w,   
          https://tanga-yacht-club.or.tz/images/uploads/_DAG6862.jpg?nf_resize=fit&w=800 800w,   
          https://tanga-yacht-club.or.tz/images/uploads/_DAG6862.jpg?nf_resize=fit&w=1200 1200w,   
          https://tanga-yacht-club.or.tz/images/uploads/_DAG6862.jpg?nf_resize=fit&w=2400 2400w
          ">
  </div>

    {% include "hamburger.njk" %}

</header>

<main >
  <article>
    
    <div class="wrapper">

      <div class="content">

        {{ content | safe }}

      </div>
    </div>
  </article>
  <aside>
    {% include "aside.njk" %}
  </aside>
</main>