---
layout: layouts/base.njk
---

<header>
  <div class="hero">
    <h1>Tanga Yacht Club
    </h1>
    <!-- 1007 x 455  = 2.213186813/1 = 1/0.451837140058-->
    <img class="splash" src="/images/uploads/_DAG6862.jpg?nf_resize=fit&w=800" 
         srcset="
          /images/uploads/_DAG6862.jpg?nf_resize=fit&w=400 400w,   
          /images/uploads/_DAG6862.jpg?nf_resize=fit&w=800 800w,   
          /images/uploads/_DAG6862.jpg?nf_resize=fit&w=1200 1200w,   
          /images/uploads/_DAG6862.jpg?nf_resize=fit&w=2400 2400w
          "
          sizes="100vw">
  </div>

    {% include "hamburger.njk" %}

</header>

<main >
  <article>
    <div class="wrapper">
      <div class="content">

        {{ content | safe }}

      </div>
    </div>
  </article>
  <aside>

    {% include "aside.njk" %}
  
  </aside>
</main>