---
layout: layouts/base.njk
---

<header>
  <div class="hero">
    <h1>Tanga Yacht Club
      {# {% if eleventy_env.environment != "local" %}
        <a href="https://app.netlify.com/sites/wizardly-mccarthy-41e2cd/deploys"><img class="netlify-status" src="https://api.netlify.com/api/v1/badges/eff71616-60a3-4b90-9c29-1de21302443d/deploy-status"/></a>
      {% endif %} #}
    </h1>
    <img src="https://tanga-yacht-club.or.tz/images/DSC00358.jpeg?nf_resize=fit&w=300&h=400" alt="" >
  </div>

    {% include "hamburger.njk" %}

</header>

<main >
  <article>
    
    <div class="wrapper">

      <div class="content">

        {{ content | safe }}

      </div>
    </div>
  </article>
  <aside>
    {% include "aside.njk" %}
  </aside>
</main>