---
layout: layouts/base.njk
---

<header class="page">
    <h1>
        <a href="/">Tanga Yacht Club</a>
    </h1>
    {% include "hamburger.njk" %}
</header>
<main >
    <article>
        <div class="wrapper">
            <div class="content">
                <h1>{{ title }}</h1>
                {{ content | safe }}
            </div>
        </div>
    </article>
    <aside>
        {% markdown "/partials/aside.md" %}
    </aside>
</main>