---
layout: layouts/base.njk

---

<header class="page">
    <img class="logo" src="/images/uploads/TYC-logo-100.png" alt="">
    <h1>
        <a href="/">Tanga Yacht Club</a>
    </h1>
    {% include "hamburger.njk" %}
</header>
<main >
    <article class="{{ class }}">
        <div class="wrapper">
            <div class="content">
                <h1>{{ title }}</h1>
                {% if class == "times" %}
                <h3>Tanga, Tanzania &ndash; {% fullBuildDate %}</h3>
                {% endif %}
                {{ content | safe }}
            </div>
        </div>
    </article>
    <aside>
           {% include "aside.njk" %}
    </aside>
</main>