---
layout: layouts/base.njk
---

<header>
    <h1>
        <a href="/">Tanga Yacht Club</a>
    </h1>
    {% include "hamburger.njk" %}
</header>
<main >
    <article>
        <div class="wrapper">
            <div class="content">
                {{ content | safe }}
            </div>
        </div>
    </article>
    <aside>
        <p>This is an important aside.</p>
    </aside>
</main>