---
layout: layouts/base.njk
---
<header>
    <img class="logo" src="/images/uploads/TYC-logo-100.png" alt="">
    <h1>
        <a href="/">Tanga Yacht Club</a>
    </h1>

    {% include "hamburger.njk" %}

    {% if featuredImage %}
        <img src="{{ featuredImage | url }}?nf_resize=fit&w=800" 
     alt="{{ featuredImageTitle }}"
     srcset="
        {{ featuredImage | url }}?nf_resize=fit&w=400 400w,   
        {{ featuredImage | url }}?nf_resize=fit&w=800 800w,   
        {{ featuredImage | url }}?nf_resize=fit&w=1200 1200w,   
        {{ featuredImage | url }}?nf_resize=fit&w=2400 2400w
        "
        sizes="100vw">
    {% endif %}

</header>

<main >
    <article class="times">
        <div class="wrapper">
            <div class="content">
                <h1>{{ title }}</h1>

                {%if date %}
                    <h6>{{ date | toNewspaperDate }}
                    </h6>
                {% endif %}

                {# <p>{% for tag in tags %}<span class="tag">{{ tag }}</span>{% endfor %}</p> #}

                {{ content | safe }}

            </div>
        </div>
    </article>
    <aside>
        {% include "aside.njk" %}
    </aside>
</main>