---
layout: layouts/base.njk
---
<header>
    <h1>
        <a href="/">Tanga Yacht Club</a>
    </h1>

    {% include "hamburger.njk" %}

</header>

<img class="post-splash" src="{{ featuredImage | url }}" alt="{{ featuredImageTitle }}" ></img>

<main >
    <article>
        <div class="wrapper">
            <div class="content">
                <h2>{{ title }}</h2>

                <h3>{{ date | readableDate }}</h3>

                <p>{% for tag in tags %}<span class="tag">{{ tag }}</span>{% endfor %}</p>

                {{ content | safe }}

            </div>
        </div>
    </article>
    <aside>
        {% markdown "/partials/aside.md" %}
    </aside>
</main>