---
layout: layouts/page.njk
class: times
---
<div class="times">
    {{ content | safe }}
</div>
<p></p>
{# {% if (set postslist = collectionApi.getFilteredByTag(postCollection)) %} #}
{% set postslist = postCollection %}
    {% include "postslist.njk" %}